openapi: 3.0.0
info:
  title: Award
  contact: {}
  version: '1.0'
servers:
- url: https://www.fpds.gov/FPDS/BusinessServices/DataCollection/organizations/1.0/Agency
  variables: {}
paths:
  /create:
    post:
      tags:
      - AgencyBinding
      summary: create
      operationId: Create
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createOutput'
      deprecated: false
  /update:
    post:
      tags:
      - AgencyBinding
      summary: update
      operationId: Update
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateOutput'
      deprecated: false
  /get:
    post:
      tags:
      - AgencyBinding
      summary: get
      operationId: Get
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getOutput'
      deprecated: false
  /getList:
    post:
      tags:
      - AgencyBinding
      summary: getList
      operationId: GetList
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getListInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getListOutput'
      deprecated: false
  /exists:
    post:
      tags:
      - AgencyBinding
      summary: exists
      operationId: Exists
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/existsInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existsOutput'
      deprecated: false
  /delete:
    post:
      tags:
      - AgencyBinding
      summary: delete
      operationId: Delete
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteOutput'
      deprecated: false
  /disable:
    post:
      tags:
      - AgencyBinding
      summary: disable
      operationId: Disable
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disableInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disableOutput'
      deprecated: false
  /enable:
    post:
      tags:
      - AgencyBinding
      summary: enable
      operationId: Enable
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/enableInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/enableOutput'
      deprecated: false
components:
  schemas:
    createAgencyResponseType:
      title: createAgencyResponseType
      type: object
      properties:
        agency:
          type: string
          nullable: true
      description: ''
    updateAgencyResponseType:
      title: updateAgencyResponseType
      type: object
      properties:
        agency:
          type: string
          nullable: true
      description: ''
    getAgencyResponseType:
      title: getAgencyResponseType
      type: object
      properties:
        agency:
          type: string
          nullable: true
      description: ''
    deleteAgencyResponseType:
      title: deleteAgencyResponseType
      type: object
      properties:
        isDeleted:
          type: boolean
          nullable: true
      description: ''
    enableAgencyResponseType:
      title: enableAgencyResponseType
      type: object
      properties:
        isEnabled:
          type: boolean
          nullable: true
      description: ''
    disableAgencyResponseType:
      title: disableAgencyResponseType
      type: object
      properties:
        isDisabled:
          type: boolean
          nullable: true
      description: ''
    existsAgencyResponseType:
      title: existsAgencyResponseType
      type: object
      properties:
        isExists:
          type: boolean
          nullable: true
      description: ''
    getListAgencyResponseType:
      title: getListAgencyResponseType
      type: object
      properties:
        listOfAgencies:
          type: string
          nullable: true
      description: ''
    createInput:
      title: createInput
      required:
      - authenticationKey
      - agency
      type: object
      properties:
        authenticationKey:
          type: string
        agency:
          type: string
    createOutput:
      title: createOutput
      required:
      - createAgencyResponse
      type: object
      properties:
        createAgencyResponse:
          $ref: '#/components/schemas/createAgencyResponseType'
    deleteInput:
      title: deleteInput
      required:
      - authenticationKey
      - agencyID
      type: object
      properties:
        authenticationKey:
          type: string
        agencyID:
          type: string
    deleteOutput:
      title: deleteOutput
      required:
      - deleteAgencyResponse
      type: object
      properties:
        deleteAgencyResponse:
          $ref: '#/components/schemas/deleteAgencyResponseType'
    disableInput:
      title: disableInput
      required:
      - authenticationKey
      - agencyID
      type: object
      properties:
        authenticationKey:
          type: string
        agencyID:
          type: string
    disableOutput:
      title: disableOutput
      required:
      - disableAgencyResponse
      type: object
      properties:
        disableAgencyResponse:
          $ref: '#/components/schemas/disableAgencyResponseType'
    enableInput:
      title: enableInput
      required:
      - authenticationKey
      - agencyID
      type: object
      properties:
        authenticationKey:
          type: string
        agencyID:
          type: string
    enableOutput:
      title: enableOutput
      required:
      - enableAgencyResponse
      type: object
      properties:
        enableAgencyResponse:
          $ref: '#/components/schemas/enableAgencyResponseType'
    existsInput:
      title: existsInput
      required:
      - authenticationKey
      - agencyID
      type: object
      properties:
        authenticationKey:
          type: string
        agencyID:
          type: string
    existsOutput:
      title: existsOutput
      required:
      - existsAgencyResponse
      type: object
      properties:
        existsAgencyResponse:
          $ref: '#/components/schemas/existsAgencyResponseType'
    getInput:
      title: getInput
      required:
      - authenticationKey
      - agencyID
      type: object
      properties:
        authenticationKey:
          type: string
        agencyID:
          type: string
    getListInput:
      title: getListInput
      required:
      - authenticationKey
      - agencySearchCriteria
      type: object
      properties:
        authenticationKey:
          type: string
        agencySearchCriteria:
          type: string
    getListOutput:
      title: getListOutput
      required:
      - getListAgencyResponse
      type: object
      properties:
        getListAgencyResponse:
          $ref: '#/components/schemas/getListAgencyResponseType'
    getOutput:
      title: getOutput
      required:
      - getAgencyResponse
      type: object
      properties:
        getAgencyResponse:
          $ref: '#/components/schemas/getAgencyResponseType'
    updateInput:
      title: updateInput
      required:
      - authenticationKey
      - agency
      type: object
      properties:
        authenticationKey:
          type: string
        agency:
          type: string
    updateOutput:
      title: updateOutput
      required:
      - updateAgencyResponse
      type: object
      properties:
        updateAgencyResponse:
          $ref: '#/components/schemas/updateAgencyResponseType'
tags:
- name: AgencyBinding
  description: ''
