openapi: 3.0.0
info:
  title: Award
  contact: {}
  version: '1.0'
servers:
- url: https://www.fpds.gov/FPDS/BusinessServices/DataCollection/organizations/1.0/Department
  variables: {}
paths:
  /create:
    post:
      tags:
      - DepartmentBinding
      summary: create
      operationId: Create
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createOutput'
      deprecated: false
  /update:
    post:
      tags:
      - DepartmentBinding
      summary: update
      operationId: Update
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateOutput'
      deprecated: false
  /get:
    post:
      tags:
      - DepartmentBinding
      summary: get
      operationId: Get
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getOutput'
      deprecated: false
  /getList:
    post:
      tags:
      - DepartmentBinding
      summary: getList
      operationId: GetList
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getListInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getListOutput'
      deprecated: false
  /exists:
    post:
      tags:
      - DepartmentBinding
      summary: exists
      operationId: Exists
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/existsInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existsOutput'
      deprecated: false
  /delete:
    post:
      tags:
      - DepartmentBinding
      summary: delete
      operationId: Delete
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteOutput'
      deprecated: false
  /disable:
    post:
      tags:
      - DepartmentBinding
      summary: disable
      operationId: Disable
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disableInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disableOutput'
      deprecated: false
  /enable:
    post:
      tags:
      - DepartmentBinding
      summary: enable
      operationId: Enable
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/enableInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/enableOutput'
      deprecated: false
components:
  schemas:
    createDepartmentResponseType:
      title: createDepartmentResponseType
      type: object
      properties:
        department:
          type: string
          nullable: true
      description: ''
    updateDepartmentResponseType:
      title: updateDepartmentResponseType
      type: object
      properties:
        department:
          type: string
          nullable: true
      description: ''
    getDepartmentResponseType:
      title: getDepartmentResponseType
      type: object
      properties:
        department:
          type: string
          nullable: true
      description: ''
    deleteDepartmentResponseType:
      title: deleteDepartmentResponseType
      type: object
      properties:
        isDeleted:
          type: boolean
          nullable: true
      description: ''
    enableDepartmentResponseType:
      title: enableDepartmentResponseType
      type: object
      properties:
        isEnabled:
          type: boolean
          nullable: true
      description: ''
    disableDepartmentResponseType:
      title: disableDepartmentResponseType
      type: object
      properties:
        isDisabled:
          type: boolean
          nullable: true
      description: ''
    existsDepartmentResponseType:
      title: existsDepartmentResponseType
      type: object
      properties:
        isExists:
          type: boolean
          nullable: true
      description: ''
    getListDepartmentResponseType:
      title: getListDepartmentResponseType
      type: object
      properties:
        listOfDepartments:
          type: string
          nullable: true
      description: ''
    createInput:
      title: createInput
      required:
      - authenticationKey
      - department
      type: object
      properties:
        authenticationKey:
          type: string
        department:
          type: string
    createOutput:
      title: createOutput
      required:
      - createDepartmentResponse
      type: object
      properties:
        createDepartmentResponse:
          $ref: '#/components/schemas/createDepartmentResponseType'
    deleteInput:
      title: deleteInput
      required:
      - authenticationKey
      - departmentID
      type: object
      properties:
        authenticationKey:
          type: string
        departmentID:
          type: string
    deleteOutput:
      title: deleteOutput
      required:
      - deleteDepartmentResponse
      type: object
      properties:
        deleteDepartmentResponse:
          $ref: '#/components/schemas/deleteDepartmentResponseType'
    disableInput:
      title: disableInput
      required:
      - authenticationKey
      - departmentID
      type: object
      properties:
        authenticationKey:
          type: string
        departmentID:
          type: string
    disableOutput:
      title: disableOutput
      required:
      - disableDepartmentResponse
      type: object
      properties:
        disableDepartmentResponse:
          $ref: '#/components/schemas/disableDepartmentResponseType'
    enableInput:
      title: enableInput
      required:
      - authenticationKey
      - departmentID
      type: object
      properties:
        authenticationKey:
          type: string
        departmentID:
          type: string
    enableOutput:
      title: enableOutput
      required:
      - enableDepartmentResponse
      type: object
      properties:
        enableDepartmentResponse:
          $ref: '#/components/schemas/enableDepartmentResponseType'
    existsInput:
      title: existsInput
      required:
      - authenticationKey
      - departmentID
      type: object
      properties:
        authenticationKey:
          type: string
        departmentID:
          type: string
    existsOutput:
      title: existsOutput
      required:
      - existsDepartmentResponse
      type: object
      properties:
        existsDepartmentResponse:
          $ref: '#/components/schemas/existsDepartmentResponseType'
    getInput:
      title: getInput
      required:
      - authenticationKey
      - departmentID
      type: object
      properties:
        authenticationKey:
          type: string
        departmentID:
          type: string
    getListInput:
      title: getListInput
      required:
      - authenticationKey
      - departmentSearchCriteria
      type: object
      properties:
        authenticationKey:
          type: string
        departmentSearchCriteria:
          type: string
    getListOutput:
      title: getListOutput
      required:
      - getListDepartmentResponse
      type: object
      properties:
        getListDepartmentResponse:
          $ref: '#/components/schemas/getListDepartmentResponseType'
    getOutput:
      title: getOutput
      required:
      - getDepartmentResponse
      type: object
      properties:
        getDepartmentResponse:
          $ref: '#/components/schemas/getDepartmentResponseType'
    updateInput:
      title: updateInput
      required:
      - authenticationKey
      - department
      type: object
      properties:
        authenticationKey:
          type: string
        department:
          type: string
    updateOutput:
      title: updateOutput
      required:
      - updateDepartmentResponse
      type: object
      properties:
        updateDepartmentResponse:
          $ref: '#/components/schemas/updateDepartmentResponseType'
tags:
- name: DepartmentBinding
  description: ''
