openapi: 3.0.0
info:
  title: Award
  contact: {}
  version: '1.0'
servers:
- url: https://www.fpds.gov/FPDS/BusinessServices/DataCollection/organizations/1.2/GovernmentOffice
  variables: {}
paths:
  /create:
    post:
      tags:
      - GovernmentOfficeBinding
      summary: create
      operationId: Create
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createOutput'
      deprecated: false
  /createContractingOffice:
    post:
      tags:
      - GovernmentOfficeBinding
      summary: createContractingOffice
      operationId: CreateContractingOffice
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createContractingOfficeInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createContractingOfficeOutput'
      deprecated: false
  /update:
    post:
      tags:
      - GovernmentOfficeBinding
      summary: update
      operationId: Update
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateOutput'
      deprecated: false
  /get:
    post:
      tags:
      - GovernmentOfficeBinding
      summary: get
      operationId: Get
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getOutput'
      deprecated: false
  /getList:
    post:
      tags:
      - GovernmentOfficeBinding
      summary: getList
      operationId: GetList
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getListInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getListOutput'
      deprecated: false
  /exists:
    post:
      tags:
      - GovernmentOfficeBinding
      summary: exists
      operationId: Exists
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/existsInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existsOutput'
      deprecated: false
  /delete:
    post:
      tags:
      - GovernmentOfficeBinding
      summary: delete
      operationId: Delete
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteOutput'
      deprecated: false
  /disable:
    post:
      tags:
      - GovernmentOfficeBinding
      summary: disable
      operationId: Disable
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disableInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disableOutput'
      deprecated: false
  /enable:
    post:
      tags:
      - GovernmentOfficeBinding
      summary: enable
      operationId: Enable
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/enableInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/enableOutput'
      deprecated: false
  /updateOrganizationAssociations:
    post:
      tags:
      - GovernmentOfficeBinding
      summary: updateOrganizationAssociations
      operationId: UpdateOrganizationAssociations
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateOrganizationAssociationsInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateOrganizationAssociationsOutput'
      deprecated: false
components:
  schemas:
    createGovernmentOfficeResponseType:
      title: createGovernmentOfficeResponseType
      type: object
      properties:
        governmentOffice:
          type: string
          nullable: true
      description: ''
    updateGovernmentOfficeResponseType:
      title: updateGovernmentOfficeResponseType
      type: object
      properties:
        governmentOffice:
          type: string
          nullable: true
      description: ''
    getGovernmentOfficeResponseType:
      title: getGovernmentOfficeResponseType
      type: object
      properties:
        governmentOffice:
          type: string
          nullable: true
      description: ''
    deleteGovernmentOfficeResponseType:
      title: deleteGovernmentOfficeResponseType
      type: object
      properties:
        isDeleted:
          type: boolean
          nullable: true
      description: ''
    enableGovernmentOfficeResponseType:
      title: enableGovernmentOfficeResponseType
      type: object
      properties:
        isEnabled:
          type: boolean
          nullable: true
      description: ''
    disableGovernmentOfficeResponseType:
      title: disableGovernmentOfficeResponseType
      type: object
      properties:
        isDisabled:
          type: boolean
          nullable: true
      description: ''
    existsGovernmentOfficeResponseType:
      title: existsGovernmentOfficeResponseType
      type: object
      properties:
        isExists:
          type: boolean
          nullable: true
      description: ''
    getListGovernmentOfficeResponseType:
      title: getListGovernmentOfficeResponseType
      type: object
      properties:
        listOfGovernmentOffices:
          type: string
          nullable: true
      description: ''
    updateOrganizationAssociationsResponseType:
      title: updateOrganizationAssociationsResponseType
      type: object
      properties:
        isUpdated:
          type: boolean
          nullable: true
      description: ''
    createContractingOfficeInput:
      title: createContractingOfficeInput
      required:
      - authenticationKey
      - governmentOffice
      type: object
      properties:
        authenticationKey:
          type: string
        governmentOffice:
          type: string
    createContractingOfficeOutput:
      title: createContractingOfficeOutput
      required:
      - createGovernmentOfficeResponse
      type: object
      properties:
        createGovernmentOfficeResponse:
          $ref: '#/components/schemas/createGovernmentOfficeResponseType'
    createInput:
      title: createInput
      required:
      - authenticationKey
      - governmentOffice
      type: object
      properties:
        authenticationKey:
          type: string
        governmentOffice:
          type: string
    createOutput:
      title: createOutput
      required:
      - createGovernmentOfficeResponse
      type: object
      properties:
        createGovernmentOfficeResponse:
          $ref: '#/components/schemas/createGovernmentOfficeResponseType'
    deleteInput:
      title: deleteInput
      required:
      - authenticationKey
      - governmentOfficeKey
      type: object
      properties:
        authenticationKey:
          type: string
        governmentOfficeKey:
          type: string
    deleteOutput:
      title: deleteOutput
      required:
      - deleteGovernmentOfficeResponse
      type: object
      properties:
        deleteGovernmentOfficeResponse:
          $ref: '#/components/schemas/deleteGovernmentOfficeResponseType'
    disableInput:
      title: disableInput
      required:
      - authenticationKey
      - governmentOfficeKey
      type: object
      properties:
        authenticationKey:
          type: string
        governmentOfficeKey:
          type: string
    disableOutput:
      title: disableOutput
      required:
      - disableGovernmentOfficeResponse
      type: object
      properties:
        disableGovernmentOfficeResponse:
          $ref: '#/components/schemas/disableGovernmentOfficeResponseType'
    enableInput:
      title: enableInput
      required:
      - authenticationKey
      - governmentOfficeKey
      type: object
      properties:
        authenticationKey:
          type: string
        governmentOfficeKey:
          type: string
    enableOutput:
      title: enableOutput
      required:
      - enableGovernmentOfficeResponse
      type: object
      properties:
        enableGovernmentOfficeResponse:
          $ref: '#/components/schemas/enableGovernmentOfficeResponseType'
    existsInput:
      title: existsInput
      required:
      - authenticationKey
      - governmentOfficeKey
      type: object
      properties:
        authenticationKey:
          type: string
        governmentOfficeKey:
          type: string
    existsOutput:
      title: existsOutput
      required:
      - existsGovernmentOfficeResponse
      type: object
      properties:
        existsGovernmentOfficeResponse:
          $ref: '#/components/schemas/existsGovernmentOfficeResponseType'
    getInput:
      title: getInput
      required:
      - authenticationKey
      - governmentOfficeKey
      type: object
      properties:
        authenticationKey:
          type: string
        governmentOfficeKey:
          type: string
    getListInput:
      title: getListInput
      required:
      - authenticationKey
      - governmentOfficeSearchCriteria
      type: object
      properties:
        authenticationKey:
          type: string
        governmentOfficeSearchCriteria:
          type: string
    getListOutput:
      title: getListOutput
      required:
      - getListGovernmentOfficeResponse
      type: object
      properties:
        getListGovernmentOfficeResponse:
          $ref: '#/components/schemas/getListGovernmentOfficeResponseType'
    getOutput:
      title: getOutput
      required:
      - getGovernmentOfficeResponse
      type: object
      properties:
        getGovernmentOfficeResponse:
          $ref: '#/components/schemas/getGovernmentOfficeResponseType'
    updateInput:
      title: updateInput
      required:
      - authenticationKey
      - governmentOffice
      type: object
      properties:
        authenticationKey:
          type: string
        governmentOffice:
          type: string
    updateOrganizationAssociationsInput:
      title: updateOrganizationAssociationsInput
      required:
      - authenticationKey
      - listOfUpdateOrganizationAssociations
      type: object
      properties:
        authenticationKey:
          type: string
        listOfUpdateOrganizationAssociations:
          type: string
    updateOrganizationAssociationsOutput:
      title: updateOrganizationAssociationsOutput
      required:
      - updateOrganizationAssociationsResponse
      type: object
      properties:
        updateOrganizationAssociationsResponse:
          $ref: '#/components/schemas/updateOrganizationAssociationsResponseType'
    updateOutput:
      title: updateOutput
      required:
      - updateGovernmentOfficeResponse
      type: object
      properties:
        updateGovernmentOfficeResponse:
          $ref: '#/components/schemas/updateGovernmentOfficeResponseType'
tags:
- name: GovernmentOfficeBinding
  description: ''
