openapi: 3.0.0
info:
  title: Award
  contact: {}
  version: '1.0'
servers:
- url: https://www.fpds.gov/FPDS/BusinessServices/DataCollection/ServiceClassifications/1.0/NAICS
  variables: {}
paths:
  /create:
    post:
      tags:
      - NAICSBinding
      summary: create
      operationId: Create
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createOutput'
      deprecated: false
  /update:
    post:
      tags:
      - NAICSBinding
      summary: update
      operationId: Update
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateOutput'
      deprecated: false
  /get:
    post:
      tags:
      - NAICSBinding
      summary: get
      operationId: Get
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getOutput'
      deprecated: false
  /getList:
    post:
      tags:
      - NAICSBinding
      summary: getList
      operationId: GetList
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getListInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getListOutput'
      deprecated: false
  /exists:
    post:
      tags:
      - NAICSBinding
      summary: exists
      operationId: Exists
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/existsInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existsOutput'
      deprecated: false
  /delete:
    post:
      tags:
      - NAICSBinding
      summary: delete
      operationId: Delete
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteOutput'
      deprecated: false
  /disable:
    post:
      tags:
      - NAICSBinding
      summary: disable
      operationId: Disable
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disableInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disableOutput'
      deprecated: false
  /enable:
    post:
      tags:
      - NAICSBinding
      summary: enable
      operationId: Enable
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/enableInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/enableOutput'
      deprecated: false
components:
  schemas:
    createNAICSResponseType:
      title: createNAICSResponseType
      type: object
      properties:
        NAICS:
          type: string
          nullable: true
      description: ''
    updateNAICSResponseType:
      title: updateNAICSResponseType
      type: object
      properties:
        NAICS:
          type: string
          nullable: true
      description: ''
    getNAICSResponseType:
      title: getNAICSResponseType
      type: object
      properties:
        NAICS:
          type: string
          nullable: true
      description: ''
    deleteNAICSResponseType:
      title: deleteNAICSResponseType
      type: object
      properties:
        isDeleted:
          type: boolean
          nullable: true
      description: ''
    enableNAICSResponseType:
      title: enableNAICSResponseType
      type: object
      properties:
        isEnabled:
          type: boolean
          nullable: true
      description: ''
    disableNAICSResponseType:
      title: disableNAICSResponseType
      type: object
      properties:
        isDisabled:
          type: boolean
          nullable: true
      description: ''
    existsNAICSResponseType:
      title: existsNAICSResponseType
      type: object
      properties:
        isExists:
          type: boolean
          nullable: true
      description: ''
    getListNAICSResponseType:
      title: getListNAICSResponseType
      type: object
      properties:
        listOfNAICSs:
          type: string
          nullable: true
      description: ''
    createInput:
      title: createInput
      required:
      - authenticationKey
      - NAICS
      type: object
      properties:
        authenticationKey:
          type: string
        NAICS:
          type: string
    createOutput:
      title: createOutput
      required:
      - createNAICSResponse
      type: object
      properties:
        createNAICSResponse:
          $ref: '#/components/schemas/createNAICSResponseType'
    deleteInput:
      title: deleteInput
      required:
      - authenticationKey
      - NAICSCode
      type: object
      properties:
        authenticationKey:
          type: string
        NAICSCode:
          type: string
    deleteOutput:
      title: deleteOutput
      required:
      - deleteNAICSResponse
      type: object
      properties:
        deleteNAICSResponse:
          $ref: '#/components/schemas/deleteNAICSResponseType'
    disableInput:
      title: disableInput
      required:
      - authenticationKey
      - NAICSCode
      type: object
      properties:
        authenticationKey:
          type: string
        NAICSCode:
          type: string
    disableOutput:
      title: disableOutput
      required:
      - disableNAICSResponse
      type: object
      properties:
        disableNAICSResponse:
          $ref: '#/components/schemas/disableNAICSResponseType'
    enableInput:
      title: enableInput
      required:
      - authenticationKey
      - NAICSCode
      type: object
      properties:
        authenticationKey:
          type: string
        NAICSCode:
          type: string
    enableOutput:
      title: enableOutput
      required:
      - enableNAICSResponse
      type: object
      properties:
        enableNAICSResponse:
          $ref: '#/components/schemas/enableNAICSResponseType'
    existsInput:
      title: existsInput
      required:
      - authenticationKey
      - NAICSCode
      type: object
      properties:
        authenticationKey:
          type: string
        NAICSCode:
          type: string
    existsOutput:
      title: existsOutput
      required:
      - existsNAICSResponse
      type: object
      properties:
        existsNAICSResponse:
          $ref: '#/components/schemas/existsNAICSResponseType'
    getInput:
      title: getInput
      required:
      - authenticationKey
      - NAICSCode
      type: object
      properties:
        authenticationKey:
          type: string
        NAICSCode:
          type: string
    getListInput:
      title: getListInput
      required:
      - authenticationKey
      - NAICSSearchCriteria
      type: object
      properties:
        authenticationKey:
          type: string
        NAICSSearchCriteria:
          type: string
    getListOutput:
      title: getListOutput
      required:
      - getListNAICSResponse
      type: object
      properties:
        getListNAICSResponse:
          $ref: '#/components/schemas/getListNAICSResponseType'
    getOutput:
      title: getOutput
      required:
      - getNAICSResponse
      type: object
      properties:
        getNAICSResponse:
          $ref: '#/components/schemas/getNAICSResponseType'
    updateInput:
      title: updateInput
      required:
      - authenticationKey
      - NAICS
      type: object
      properties:
        authenticationKey:
          type: string
        NAICS:
          type: string
    updateOutput:
      title: updateOutput
      required:
      - updateNAICSResponse
      type: object
      properties:
        updateNAICSResponse:
          $ref: '#/components/schemas/updateNAICSResponseType'
tags:
- name: NAICSBinding
  description: ''
