openapi: 3.0.0
info:
  title: Award
  contact: {}
  version: '1.0'
servers:
- url: https://www.fpds.gov/FPDS/BusinessServices/DataCollection/locations/1.0/Place
  variables: {}
paths:
  /create:
    post:
      tags:
      - PlaceBinding
      summary: create
      operationId: Create
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createOutput'
      deprecated: false
  /update:
    post:
      tags:
      - PlaceBinding
      summary: update
      operationId: Update
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateOutput'
      deprecated: false
  /get:
    post:
      tags:
      - PlaceBinding
      summary: get
      operationId: Get
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getOutput'
      deprecated: false
  /getList:
    post:
      tags:
      - PlaceBinding
      summary: getList
      operationId: GetList
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getListInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getListOutput'
      deprecated: false
  /exists:
    post:
      tags:
      - PlaceBinding
      summary: exists
      operationId: Exists
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/existsInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existsOutput'
      deprecated: false
  /delete:
    post:
      tags:
      - PlaceBinding
      summary: delete
      operationId: Delete
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteOutput'
      deprecated: false
  /disable:
    post:
      tags:
      - PlaceBinding
      summary: disable
      operationId: Disable
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disableInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disableOutput'
      deprecated: false
  /enable:
    post:
      tags:
      - PlaceBinding
      summary: enable
      operationId: Enable
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/enableInput'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/enableOutput'
      deprecated: false
components:
  schemas:
    createPlaceResponseType:
      title: createPlaceResponseType
      type: object
      properties:
        Place:
          type: string
          nullable: true
      description: ''
    updatePlaceResponseType:
      title: updatePlaceResponseType
      type: object
      properties:
        Place:
          type: string
          nullable: true
      description: ''
    getPlaceResponseType:
      title: getPlaceResponseType
      type: object
      properties:
        Place:
          type: string
          nullable: true
      description: ''
    deletePlaceResponseType:
      title: deletePlaceResponseType
      type: object
      properties:
        isDeleted:
          type: boolean
          nullable: true
      description: ''
    enablePlaceResponseType:
      title: enablePlaceResponseType
      type: object
      properties:
        isEnabled:
          type: boolean
          nullable: true
      description: ''
    disablePlaceResponseType:
      title: disablePlaceResponseType
      type: object
      properties:
        isDisabled:
          type: boolean
          nullable: true
      description: ''
    existsPlaceResponseType:
      title: existsPlaceResponseType
      type: object
      properties:
        isExists:
          type: boolean
          nullable: true
      description: ''
    getListPlaceResponseType:
      title: getListPlaceResponseType
      type: object
      properties:
        listOfPlaces:
          type: string
          nullable: true
      description: ''
    createInput:
      title: createInput
      required:
      - authenticationKey
      - place
      type: object
      properties:
        authenticationKey:
          type: string
        place:
          type: string
    createOutput:
      title: createOutput
      required:
      - createPlaceResponse
      type: object
      properties:
        createPlaceResponse:
          $ref: '#/components/schemas/createPlaceResponseType'
    deleteInput:
      title: deleteInput
      required:
      - authenticationKey
      - placeKey
      type: object
      properties:
        authenticationKey:
          type: string
        placeKey:
          type: string
    deleteOutput:
      title: deleteOutput
      required:
      - deletePlaceResponse
      type: object
      properties:
        deletePlaceResponse:
          $ref: '#/components/schemas/deletePlaceResponseType'
    disableInput:
      title: disableInput
      required:
      - authenticationKey
      - placeKey
      type: object
      properties:
        authenticationKey:
          type: string
        placeKey:
          type: string
    disableOutput:
      title: disableOutput
      required:
      - disablePlaceResponse
      type: object
      properties:
        disablePlaceResponse:
          $ref: '#/components/schemas/disablePlaceResponseType'
    enableInput:
      title: enableInput
      required:
      - authenticationKey
      - placeKey
      type: object
      properties:
        authenticationKey:
          type: string
        placeKey:
          type: string
    enableOutput:
      title: enableOutput
      required:
      - enablePlaceResponse
      type: object
      properties:
        enablePlaceResponse:
          $ref: '#/components/schemas/enablePlaceResponseType'
    existsInput:
      title: existsInput
      required:
      - authenticationKey
      - placeKey
      type: object
      properties:
        authenticationKey:
          type: string
        placeKey:
          type: string
    existsOutput:
      title: existsOutput
      required:
      - existsPlaceResponse
      type: object
      properties:
        existsPlaceResponse:
          $ref: '#/components/schemas/existsPlaceResponseType'
    getInput:
      title: getInput
      required:
      - authenticationKey
      - placeKey
      type: object
      properties:
        authenticationKey:
          type: string
        placeKey:
          type: string
    getListInput:
      title: getListInput
      required:
      - authenticationKey
      - placeSearchCriteria
      type: object
      properties:
        authenticationKey:
          type: string
        placeSearchCriteria:
          type: string
    getListOutput:
      title: getListOutput
      required:
      - getListPlaceResponse
      type: object
      properties:
        getListPlaceResponse:
          $ref: '#/components/schemas/getListPlaceResponseType'
    getOutput:
      title: getOutput
      required:
      - getPlaceResponse
      type: object
      properties:
        getPlaceResponse:
          $ref: '#/components/schemas/getPlaceResponseType'
    updateInput:
      title: updateInput
      required:
      - authenticationKey
      - place
      type: object
      properties:
        authenticationKey:
          type: string
        place:
          type: string
    updateOutput:
      title: updateOutput
      required:
      - updatePlaceResponse
      type: object
      properties:
        updatePlaceResponse:
          $ref: '#/components/schemas/updatePlaceResponseType'
tags:
- name: PlaceBinding
  description: ''
